# Object files
/cli/Debug
/cli/Release
/obj
/7zip/obj
*.o
*.ko
*.obj
*.elf
*.iobj
*.ipdb

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Temp and debugging files
*.opensdf
*.sdf
*.cachefile
*.ilk
*.pdb
*.pgd
*.pgc

# Executables
*.exe
*.out
*.app
/maxcso

# User setting files
*.vcxproj.user
*.VC.opendb
*.VC.db
*.suo
.vs

# Build directories
7zip/Debug/*
7zip/Release/*
libdeflate/Debug/*
libdeflate/Release/*
libuv/Debug/*
libuv/Release/*
lz4/Debug/*
lz4/Release/*
zlib/Debug/*
zlib/Release/*
zopflib/Debug/*
zopflib/Release/*
maxcsolib/x64/Debug/*
maxcsolib/x64/Release/*
TestCli/x64/Debug/*
TestCli/x64/Release/*
cli/x64/Debug/*
cli/x64/Release/*
LibTest/x64/Debug/*
LibTest/x64/Release/*

.vscode/*
path.txt
LibTesty
